#body {
   background-image: url("Images/Background_Image.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;
   font-family: Arial;
} 
#progressbar {
    border: 1px solid black;
}
#PhotoMyself {
    height: 100%;
    width: auto;
}
#socials {
    margin-top: 21vh;
}
